.vscode/**
.vscode-test/**
.vscode-test-web/**
node_modules/**
src/**
out/**
docs/**
dist/test/**
dist/**/*.map
scripts/**
.gitignore
.yarnrc
.npmrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
